#logo {
  width: auto;
}
body {
  background-image: url(../images/board_back.jpg);
}

#sandwich {
  width: 20vw;
  height: 60vh;
}

.Menu_Items {
font-family: VarelaRound-Regular;
width: 90vw;
padding-left: 5%;
padding-top:  10%;

}

p{
Background-color: #f9e198;
font-family:  SigmarOne-Regular;
font-size:  2em;
padding: 4%;
}

img {
  width:  90vw;
}
