@font-face { font-family: VarelaRound-Regular;
			 src: url('Fonts/VarelaRound-Regular.ttf'); }

@font-face { font-family: SigmarOne-Regular;
       			 src: url('Fonts/SigmarOne-Regular.ttf'); }

.Menu_Items {
font-family: VarelaRound-Regular;
width: 90vw;
padding-left: 5%;
padding-top:  10%;
}

p{
Background-color: #f9e198;
font-family:  SigmarOne-Regular;
font-size:  2em;
padding: 4%;
}

#prices {
  width: 90vw;
}

html {
    background: url('../images/background.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
