#logo {
  width: auto;
}
body {
  background-image: url(../images/board_back.jpg);
}

#sandwich {
  width: 20vw;
  height: 60vh;
}

.Menu_Items {
width: 80vw;
background-color: white;
}

img {
  width:  90vw;
}
