@font-face { font-family: VarelaRound-Regular;
			 src: url('Fonts/VarelaRound-Regular.ttf'); }

@font-face { font-family: SigmarOne-Regular;
       			 src: url('Fonts/SigmarOne-Regular.ttf'); }





.MenuTab{
	font-family: SigmarOne-Regular;
	position: fixed;
 height: 10vh;
 width: 100vw;
 background-color: #f9e198;
 list-style: none;
 display: flex;
 justify-content: space-around;
 padding-top: 1%;
}
.MenuTab a {
 text-decoration: none;
 color: black;
 font-size: 2em;
 max-width: 100vw;

}
 #logo{
	 margin: auto;
 }
 
.FirstRow{
 display: flex;
 justify-content: space-around;
}

.AboutMessage {
 width: 55vw;
 height: 95vh;
 margin-top: 10vh;
 background-image: url("images/FrontPicWords.png");
 background-size: auto;
 background-repeat: no-repeat;
 background-size: cover;
}

.SecondRow{
 /* height: 100vh; */
 display: flex;
 justify-content: space-around;
}
.Mr.Bean, .FryerPic, .driver{
 /* width: 100vw;
 height: 100vh; */
}
#fryer, #bean, #ChunkDriver{
 width: 32vw;
 height: 65vh;
 /* margin: 3%; */
 background-color: #f9e198;
 border-style: double;
}
h1, h3{
 font: 3em;
 background-color: #f9e198;
 padding: 2em;
 border-style: double;
 text-align: center;
}
/* .driver{
 display: flex;
 justify-content: space-between;
} */

/* #ChunkDriver, #AllStuff{
 width: 60vw;
 height: 50vh;
} */

/* .chicken_gif {
	margin-left:  20%;
	margin-right: 40%;
	margin-bottom: 3%;
  background-color: #e7b3a3;
	padding: 3%;
	padding-right: 0%;
}

.chicken_gif h1 {
	width: 480px;
} */
