@font-face { font-family: VarelaRound-Regular;
			 src: url('Fonts/VarelaRound-Regular.ttf'); }

@font-face { font-family: SigmarOne-Regular;
       			 src: url('Fonts/SigmarOne-Regular.ttf'); }


html{
 background-image: url("images/background.jpeg");

}
header{
 height: 10vh;
 width: 100vw;
 background-color: #e93f33;
 color: white;
 font-family: VarelaRound-Regular;
}

header h2{
 font-size: 3em;
 text-align: center;
}
#logo {
 width: 8vw;
}

.MenuTab{
position: fixed;
 height: 10vh;
 width: 100vw;
 background-color: #f9e198;
 list-style: none;
 display: flex;
 justify-content: space-around;
 padding-top: 1%;
}
.MenuTab a {
 text-decoration: none;
 color: black;
 font-size: 2em;
}

.FirstRow{
  /* margin-top: 5%;
 width: 100vw;
 height:50vh; */
 display: flex;
 justify-content: space-around;
}
.LogoBox{
 margin-top: 5%;
 width: 32vw;
 height: 50vh;
 border: red thick dotted;
}
#logopic{
 width: 30vw;
 height:55vh;
}
.AboutMessage {
 width: 55vw;
 height: 45vh;
 margin: 2%;
 background-image: url("img/IMG_0091.jpeg");
 background-size: cover;
 background-repeat: no-repeat;
}

.driver{
 display: flex;
 justify-content: space-between;
}

#ChunkDriver, #AllStuff{
 width: 60vw;
 height: 50vh;
}

.chicken_gif {
	margin-left:  20%;
	margin-right: 40%;
	margin-bottom: 3%;
  background-color: #e7b3a3;
	padding: 3%;
	padding-right: 0%;
}

.chicken_gif h1 {
	width: 480px;
}
